body {
    background-color:#CCFFFF;
}

.container-fluid {
    background-color: aqua;
}

.bg-body-tertiary {
    padding-top: 0;
    padding-bottom: 0;
}

.carousel {
    margin-top: 200px;
    margin-left: 200px;
    margin-bottom: 600px;
    margin-right: 200px;
}

.heading-1 {
    text-align: center;
     font-family: "Protest Guerrilla", sans-serif;
     font-weight: 400;
    font-style: normal;
    font-size:xx-large;
    background-color: #CCFFFF;
      }

    

    .menu {
        padding-top: 200;
        padding-bottom: 200;
        padding-left: 100;
        padding-right: 100;
    background-color: #CCFFFF;
    }

    .ourstory {
        background-color: #CCFFFF;
        padding: 20px;
    }

    b {
        text-decoration: underline;
    }


   

   
    
      

