body {
    background-color:#45b9b7;
}
.navbar {
    padding-bottom: 60px;
    padding-top: 25px;
    background-color:#274343;
    color:#45b9b7;
}
.mamakaguy {
    padding-bottom: 0px;
    width: 50px;
    padding-top: 20px;
}
.d-block {
    padding-top: 100px;
}
.flipped {
    padding-top: 50px;
    height: 400px;
    width: 262px;
}
.green {
    background-color:#274343;
}
.navbar a {
    color:#e9f4f4;
}
.active {
    color: #dc9a3f !important
}
.form-row {
    text-align: center;
    padding-top: 20px;
}
h1 {
    text-align: center;
    padding-top: 50px;
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 400;
    font-style: normal;
}
.heading-1 {
    text-align: center;
    font-family: “Protest Guerrilla”, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:medium;
    background-color: #CCFFFF;
}
.container-fluid {
    width: 100%;
    padding-top: 45px;
    justify-content: center;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal; 
    color: #dc9a3f; 
}
.heading {
    font-size: x-large;
    text-decoration: underline;
}
.menu {
   width: 100%;
   padding-top: 50px;
   padding-bottom: 50px;
    background-color: #CCFFFF;
}
b {
    text-decoration: underline;
}
h1 {
    padding-top: 0;
}
h2 {
    text-align: center;
}
.dropdown-menu {
    background-color:#274343;
    font-size: large; 
}
.nav-item {
    font-size: x-large;
}
.nav-link {
    font-size: x-large;
}
footer {
    background-color: #CCFFFF;
}
main {
    background-color: #CCFFFF;
    color: #dc9a3f;
}
.owners {
    width: 100%
}
.clearfix {
    padding-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
